
header{
    position: absolute;
    padding-left: 40px;


}

.bar{
    background-color: black;
    height: 100px;
    z-index: -1;
    
}

.logo{
    width: 270px;
    
    margin: 0;
    color:white;

    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 100;
}

h1{

    position: absolute;
    font-family: 'Chathura', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 50px;
    letter-spacing: 3px;
}

.all-colors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 200px;
    margin-top: 50px;
    z-index: 200;
    

}

.colors{
    height: 6px;
}


#letter-t{
    font-size: 60px;
}

#letter-c{
    color: blueviolet;
    font-size: 60px;
}

#letter1-o{
    color: yellow;
}

#letter-l{
    color: rgb(13, 93, 222);
}

#letter2-o{
    color: rgb(150, 11, 11);
}

#letter-r{
    color: rgb(101, 14, 144);
}

#letter-s{
    color: orangered;
}




.color-magenta{
    background-color: magenta;
}


.color-white{
    background-color: white;
    color: white;
}

.color-cyan{
    background-color: cyan;
}

.color-yelow{
    background-color: yellow;
}