body{
    height: 3000px;
}

.div-header{
    background-color: black;
    position: fixed;
    display:flex;
    align-items: center;
    
    top: 0;
    right: 0;
    left: 0;
    bottom: 90vh;
}

h1{
    font-family: 'Chathura', sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
    color: white;
    margin: 0;
}

#letter-t{
    font-size: 60px;
}

#letter-c{
    color: blueviolet;
    font-size: 60px;
}

#letter1-o{
    color: yellow;
}

#letter-l{
    color: rgb(13, 93, 222);
}

#letter2-o{
    color: rgb(150, 11, 11);
}

#letter-r{
    color: rgb(101, 14, 144);
}

#letter-s{
    color: orangered;
}