html{
    font-family: Arial;
}


body{
    margin: 0;
    height: 3000px;
}


.div-logo{
    z-index: 200;
    margin-top: -22px;

}

.div-header{
    background-color: black;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    
}


.search-button{
    display: grid;
    grid-template-columns: 2fr 0.3fr;
    width: 300px;
    background-color: white;
  
}

img{
    width: 22px;
    margin-top: 4px;
}

#search-btn{
    padding: 0.4em 1em;
    background-color: white;
    border-style: none;
    padding: 5px;
    border-style: none;
    outline: none;      
}

#search-btn:hover{
    cursor: pointer;
}

h1{
    font-family: 'Chathura', sans-serif;
    letter-spacing: 4px;
    font-size: 50px;
    color: white;
    margin: 0;
    z-index: -1;
}

#search-item{
    padding-left: 12px;
    border-style: none;
    outline: none;
    
}

/*--------------letters colors--------------------*/
#letter-t{
    font-size: 60px;
}

#letter-c{
    color: blueviolet;
    font-size: 60px;
}

#letter1-o{
    color: yellow;
}

#letter-l{
    color: rgb(13, 93, 222);
}

#letter2-o{
    color: rgb(150, 11, 11);
}

#letter-r{
    color: rgb(101, 14, 144);
}

#letter-s{
    color: orangered;
}

/*-----------------------------------*/

.colors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 212px;
    margin-top: -18px;
    z-index: 50;
}

.color{
    height: 3px;
}

.color-magenta{
    background-color: magenta;
}


.color-white{
    background-color: white;
    color: white;
}

.color-cyan{
    background-color: cyan;
}

.color-yelow{
    background-color: yellow;
}

/*----------------------------------*/
a{
    color: yellow;
}

@media screen and (max-width: 800px){
    .div-header{
        grid-template-columns: 1fr;
        height: 90px;
        row-gap: 3px;
    }

    .div-contact{
        display: none;
    }

    .search-button{
        width: 300px;
    }
}